<div class="modal-header">
    <h4 class="modal-title">{{item.id?'编辑':'添加'}}空间</h4>
</div>
<div class="modal-body container-fluid form-horizontal">
    <form name="form" novalidate>
        <div class="form-group" ng-if="item.pcode">
            <label class="col-xs-4 control-label">上级分类：</label>
            <div class="col-xs-6">
                <div style="margin-top: 8px">{{item.ptexts}}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 control-label">空间编码：</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" ng-model="item.code" name="code" disabled placeholder="系统生成"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-xs-4 control-label required">空间名称：</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" ng-model="item.text" name="text"
                       uib-tooltip="{{!item.text?'不可为空':(form.text.$invalid?'有重名':null)}}" ensure-unique="spaceName" required/>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="save(form,item)">确定</button>
    <button class="btn btn-warning" ng-click="$dismiss()">取消</button>
</div>


