body {
  font: 12px/1.5 'Microsoft YaHei', Arial, SimSun;
}

table,tr,td,ul,li,div,dl,dt,dd,p,h1,h2,h3,h4,h5,b,input {
    padding: 0px;
    list-style: none;
    font-family: 'Microsoft YaHei', Arial, SimSun;
}
a {
  color: #00B7FF;
}

table.table tr th.text-center:first-child{
    white-space: nowrap;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 4px 2px;
}
.panel-body {
    padding: 5px;
}
@font-face
{
    font-family: UniversUltraCondensedBQ-Regular;
    src: url('../res/fonts/UniversUltraCondensedBQ-Regular.otf');
}
.photoDiv{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    z-index: 2;
    max-width: 90%;
    max-height: 95%;
    background-color:#ccc;
    margin: auto;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}
/*菜单*/
